@import 'style.css';


.navDesktop {
    background-color: white;
}

.main {
    background-color: rgb(218, 218, 218);
}

.table > a {
    text-decoration-color: rgb(218, 218, 218);
    text-decoration: none;
}