@import 'style.css';


.navDesktop {
    background-color: beige;
}

.main {
    background-color: rgb(54, 28, 6);
}

a {
    color: black;
    text-decoration-color: rgb(218, 218, 218);
    text-decoration: none;
}

input {
    caret-color: beige;
}